{% extends "base-template.html" %}

{% block title %}Kylo{% endblock %}

{% block content %}
  <div class="hero">
    <h2 class="one-line-feature-heading">Quick Start</h2>
  </div>
<div class="subtitle">
  <p align="center">Ready to try out Kylo?</p>
</div>

<div id="features" class="container">
  <div class="row">
    <div class="col-md-2 col-md-push-10 feature-sidebar">
      &nbsp;
    </div>

    <div class="col-md-10 col-md-pull-2">

      <div class="row">

        <h1 class="text-orange subheading">Kylo AWS Sandbox</h1>
        <div class="lead">Try Kylo in the cloud with Amazon Web Services.  The AWS sandbox
          AMI image is a pre-configured Kylo instance with Apache Hadoop, Spark, and NiFi.</div>

        <h4>Click <a href="quickstart-ami.html">here</a> for AWS instructions</h4>
      </div>

      <div class="row">

        <h1 class="text-orange subheading">Kylo Sandbox</h1>
        <div class="lead">The Kylo Sandbox is a personal virtual environment so you can quickly get started with Kylo. The sandbox is a pre-configured Kylo instance with Apache
          Hadoop,
          Spark, and NiFi. The tutorials below will teach you how to create your first ingest feed and wrangle data.</div>

        <ol>
          <hr class="step-hr"/>
          <div class="row">
            <h4 class="col-sm-2 circle-li">1</h4>
            <h4 class="col-sm-8 step-text-aligned">Download Kylo Sandbox for VirtualBox * </h4>
            <button class="btn btn-solid-orange col-sm-2 h2-aligned" onclick="window.open('http://bit.ly/2lasGIN')">DOWNLOAD</button>
          </div>
          <hr class="step-hr"/>
          <div class="row">
            <h4 class="col-sm-2 circle-li">2</h4>
            <h4 class="col-sm-10 step-text-aligned">In VirtualBox: File | Import Appliance</h4>
          </div>
          <hr class="step-hr"/>
          <div class="row">
            <h4 class="col-sm-2 circle-li">3</h4>
            <h4 class="col-sm-10 step-text-aligned">Start VM and allow up to 10 minutes to start services</h4>
          </div>
          <hr class="step-hr"/>
          <div class="row">
            <h4 class="col-sm-2 circle-li">4</h4>
            <h4 class="col-sm-10 step-text-aligned">From web browser:  <a href="http://localhost:8400/ops-mgr/index.html">Kylo Ops Manager</a> | <a
                href="http://localhost:8400/feed-mgr/index.html">Kylo
              Feed Manager</a></h4>
          </div>
          <hr class="step-hr"/>
          <div class="row">
            <h4 class="col-sm-2 circle-li">5</h4>
            <h4 class="col-sm-10 step-text-aligned">Application login: dladmin/thinkbig, Sandbox OS login: root/kylo</h4>
          </div>
          <hr class="step-hr"/>
          <small>* Requires <a href="https://www.virtualbox.org/wiki/Downloads">Oracle VirtualBox</a>. Recommended 20GB disk space and 10GB RAM.</small>
          </ol>
      </div>

      <div class="row">
        <h1 class="text-orange subheading">Intro Tutorials</h1>
        <div class="lead">The following introductory tutorials will get you quickly started with Kylo:</div>
      </div>

      {% for step in items %}
      <div class="row featurette" style="margin-top:20px">
        <div class="col-sm-3">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item quickstart-video" src="{{ step.video }}" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-sm-9">
          <h4 class="featurette-heading">
            <span class="text-blue">{{ step.heading }}</span>
          </h4>
          <p class="lead">{{ step.description }}</p>
        </div>
      </div>
      {% endfor %}



    </div>
  </div>
</div>
{% endblock %}